<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Community</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>


    <form class="max-w-sm mx-auto" action="/<%= userId %>/communities/create" method="post">
        <div class="mb-5 my-6">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Community Name</label>
            <input type="text" id="name" name="name"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
        </div>
        <div class="mb-5">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 ">Description</label>
            <input type="text" id="description" name="description"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " />
        </div>
        <div class="bg-gray-300 p-4	border-grey-600 rounded-md">
            <div class="mb-5">
                <label for="nickname" class="block mb-2 text-sm font-medium text-gray-900">Nickname</label>
                <input type="text" id="nickname" name="nickname"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " />
            </div>
            <div class="mb-5">
                <label for="bio" class="block mb-2 text-sm font-medium text-gray-900">Bio</label>
                <input type="text" id="bio" name="bio"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " />
            </div>
            <div class="mb-5">
                <label for="profilePicture" class="block mb-2 text-sm font-medium text-gray-900 ">Profile
                    Picture</label>
                <input type="text" id="profilePicture" name="profilePicture"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " />
            </div>
        </div>
        <button type="submit"
            class="text-white bg-blue-700 my-6 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Create
            Server</button>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>