.custom-shadow {
    box-shadow: 0 1px 30px rgba(116, 113, 113, 0.5);
  }

  .custom-background {
    display: flex;
    flex-direction: column;
    background-color: #222831;
    min-height: 100vh;
}

.custom-bg {
    background: #1a202c;
}
